@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=VT323&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('imagens/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: auto;
  }
  
  h1 {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'VT323', monospace;
    font-size: 60px;
  }
  
  p {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
  }

    #numericKeypad {
    margin-bottom: 20px;
  }
  
  .numericButton {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
  }
  
  .numericButton:hover, #clearButton:hover {
    background-color: #45a049;
    transform: scale(1.2);
  }
  
  #clearButton {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
  }

  input[type="text"] {
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    width: 300px;
    text-align: center;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.2);
  }

  #checkButton {
    background-color: darkorange;
    width: 250px;
    padding: 10px;
    font-size: 22px;
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
    font-weight: bold;
  }

  #restartButton {
    margin-top: 30px;
    padding: 8px 20px;
    font-size: 20px;
    background-color: rgb(16, 16, 238);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    width: 150px;
    font-weight: bold;
  }
  
  #message {
    font-weight: bold;
    margin-top: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 35px;
  }

  /* Alterações no Sweetalert */
.swal2-title {
    color: #333333;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
  }

  div:where(.swal2-container) .swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 1em 1.6em 0.3em;
    padding: 0;
    overflow: auto;
    color: inherit;
    font-size: 1.125em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 25px;
}
  
  /* Estilizando o texto */
  .swal2-content {
    color: #333333;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
  }
  
  /* Estilizando o botão */
  .swal2-confirm {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
  }

  div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #3059b1;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    font-size: 25px;
    transition: 600ms;
}
  
  .swal2-confirm:hover {
    background-color: #45a049;
    font-family: 'Oswald', sans-serif;
  }

  div:where(.swal2-container).swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    width: 600px;
    height: 400px;
}

  /* Alterações no Sweetalert */
  